{{#if resume.education.length}}
<div class="container education-container">
    {{> title value="Education"}}

    {{#each resume.education}}
    <section class="item">
        {{> section-header name=this.institution }} 
        
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 8px;">
            <h4>{{#if studyType}}{{studyType}}{{/if}}{{#if area}}{{#if studyType}} in {{/if}}{{area}}{{/if}}</h4>
            <h4 style="white-space: nowrap;">
                {{formatDate startDate}}{{#if endDate}} — {{formatDate endDate}}{{else}} — Present{{/if}}
            </h4>
        </div>

        {{#if gpa}}
        <h5>GPA: {{gpa}}</h5>
        {{/if}}
        
        {{#if courses.length}}
        <div style="margin-top: 10px;">
            <h5 style="font-weight: bold; margin-bottom: 5px;">Relevant Coursework:</h5>
            <ul class="minimal">
                {{#each courses}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </section>
    {{/each}}
</div>
<br/>
{{/if}}
