<div class="info-tag-container">
    {{!-- {{#if icon}}
    <i class="fa {{icon}}"></i>
    {{/if}} --}}
    <h6 class="info-text">
    {{name}}<br/>
    {{#if url}}

            <a href="{{#if isEmail}}mailto:{{/if}}{{url}}" target="_blank">
                {{text}}
            </a>

    {{else}}
        {{{text}}}
    {{/if}}
    </h6>
</div>
