<div class="info-tag-container">
    <i class="fa {{icon}}"></i>
    <div class="info-text">
    {{#if name}}
        <h6>{{name}}</h6>
    {{/if}}
    {{#if url}}
        <a href="{{#if isEmail}}mailto:{{/if}}{{url}}" target="_blank">
            {{text}}
        </a>
    {{else}}
        {{{text}}}
    {{/if}}
    </div>
</div>
