{{#if resume.projects.length}}
<div class="container project-container">
    {{> title value="Open Source Projects"}}

    {{#each resume.projects}}
        <section class="item">
            {{> section-header name=this.name website=this.url showWebsite=true}}

            <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 8px;">
                {{#if role}}
                    <h5 style="font-weight: bold;">{{role}}</h5>
                {{/if}}
                {{#if startDate}}
                <h5 class="italic">
                    {{formatDate startDate}}{{#if endDate}} — {{formatDate endDate}}{{else}} — Present{{/if}}
                </h5>
                {{/if}}
            </div>

            {{#if keywords.length}}
            <div class="flex-container" style="margin-bottom: 10px;">
                {{#each keywords}}
                    <h6 class="skill">{{.}}</h6>
                {{/each}}
            </div>
            {{/if}}

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
