<div class="section-header clearfix">
    {{#if name}}
    <h3 class="bold pull-left">
        {{#if website}}
            <a href="{{website}}" target="_blank">
                {{name}}
                {{#if showWebsite }}
                    <span class="sublink">∙ <a href="{{website}}" target="_blank" class="sublink">{{website}}</a></span>
                {{/if}}
                {{!-- <i class="fa fa-external-link" aria-hidden="true"></i> --}}
            </a>
        {{else}}
            {{name}}
        {{/if}}
    </h3>
    {{/if}}
</div>
{{#if description}}
  <h4>
    {{description}}
  </h4>
{{/if}}
