<div class="mb-2">
    {{#if name}}
    <h3 class="text-sm font-bold text-gray-900 mb-1">
        {{#if website}}
            <a href="{{website}}" target="_blank" class="hover:text-brand-teal transition-colors">
                {{name}}
                {{#if showWebsite}}
                    <span class="font-normal text-gray-500 ml-2">• {{removeProtocol website}}</span>
                {{/if}}
            </a>
        {{else}}
            {{name}}
        {{/if}}
    </h3>
    {{/if}}
</div>
{{#if description}}
  <h4 class="text-xs text-gray-600 mb-2">
    {{description}}
  </h4>
{{/if}}
