<div class="section-header clearfix">
    {{#if name}}
    <h3 class="bold pull-left" style="margin:0;">
        {{#if website}}
            <a href="{{website}}" target="_blank" style="text-decoration:none; color: inherit;">
                {{name}}
                {{#if showWebsite}}
                    <span class="sublink" style="font-weight: normal; margin-left:0.5em;">&middot; {{removeProtocol website}}</span>
                {{/if}}
            </a>
        {{else}}
            {{name}}
        {{/if}}
    </h3>
    {{/if}}
</div>
{{#if description}}
  <h4>
    {{description}}
  </h4>
{{/if}}
