{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Work Experience"}}

    {{#each resume.work}}
        <section class="item" style="margin-bottom: 15px;">
            {{> section-header name=(concat position " | " name) website=url showWebsite=true }}

            <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 8px;">
                <h5>{{#if location}}{{location}}{{/if}}</h5>
                <h5 style="white-space: nowrap;">
                    {{formatDate startDate}}{{#if endDate}} — {{formatDate endDate}}{{else}} — Present{{/if}}
                </h5>
            </div>

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
