{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Work Experience"}}

    {{#each resume.work}}
        <section class="item" style="margin-bottom: 5px;">
            {{!-- {{> section-header name=position }} --}}
            <h4 style="font-weight: bold;">{{position}} | {{name}} | {{formatDate startDate}}{{#if endDate}}—{{formatDate endDate}}{{else}}—Present{{/if}}</h4>
            {{!-- {{> section-header name=("{{position}} | {{name}} | {{formatDate startDate}}{{#if endDate}}—{{formatDate endDate}}{{else}}—Present{{/if}}") }} --}}
            {{!-- <h4>{{this.name}}</h4> --}}

            {{!-- <h4 class="italic pull-left">
                {{formatDate startDate}}{{#if endDate}}–{{formatDate endDate}}{{else}}–Present{{/if}}
            </h4> --}}
            {{!-- <br/> --}}

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
